<div class="artwork-wrapper">
<div class="img-container-med" id="artwork-<%= artwork.id %>">

<a href="/backbone/#artworks/<%= artwork.id %>">
<img src="<%= artwork.escape('image') %>">
</a>

<a href="/backbone/#artworks/<%= artwork.id %>">
<%= artwork.escape('title') %>
</a>

<% if (artwork.get('artist')) { %>
  <a href="/backbone/#artworks/<%= artwork.artist.id %>">
  <%= artwork.artist.escape('name') %>
  </a>
<% } %>

</div>
</div>
