<div class="artwork-wrapper">
<div class="img-container-med" id="artwork-<%= artwork.id %>">

<a href="/backbone/#artworks/<%= artwork.id %>">
<img src="<%= artwork.escape('image') %>">
</a>

<a href="/backbone/#artworks/<%= artwork.id %>">
<%= artwork.escape('title') %>
</a>

<p>
Stacked: <%= artwork.get('stacked') %>
</p>

</div>
</div>
