<div class="img-container-sm" id="artwork-<%= artwork.get('id') %>">

<p><a href="/backbone/#artworks/<%= artwork.get('id') %>">
<img src="<%= artwork.escape('image') %>">
</a></p>

<p><a href="/backbone/#artworks/<%= artwork.get('id') %>">
<%= artwork.escape('title') %>
</a></p>


<p><a href="/backbone/#artists/<%= artwork.get('artist_id') %>">
<%= artwork.escape('artist_name') %>
</a></p>

<p>
Stacked: <%= artwork.get('stacked') %>
</p>
</div>
