<h1>Backbone Artwork!</h1>

<div class="img-container-lrg" id="img-container-<%= artwork.id %>">

<a href="<%= artwork.escape("full_size_url") %>">
<img src="<%= artwork.escape("image") %>">
</a>



<p>
<%= artwork.escape("title") %>
</p>

<p>
<% if (artwork.artist) { %>
  <a href="/backbone/#artists/<%= artwork.artist.id %>"><%= artwork.artist.escape("name") %></a>
<% } %>
</p>

<p>
Stacked: <%= artwork.get('stacked') %>
</p>
</div>
