<h1><%= artwork.escape('title') %> </h1>

<figure class="img-container-lrg" id="artwork-<%= artwork.get('id') %>">

  <a href="<%= artwork.get('full_size_url') %>" class="art-image">
    <img src="<%= artwork.escape('image') %>">
  </a>

  <figcaption>
    <h4>
      <a href="#artists/<%= artwork.get('artist_id') %>">
        <%= artwork.escape('artist_name') %>
      </a>
    </h4>
    <h4>
      Uploader: <a class="uploader" href="#users/<%= artwork.get('uploader_id') %>"><%= artwork.escape("uploader_moniker") %></a>
    </h4>
  </figcaption>

</figure>
