<h1>Backbone Artwork!</h1>

<figure class="img-container-lrg" id="artwork-<%= artwork.get('id') %>">

  <a href="#artworks/<%= artwork.get('id') %>" class="art-image">
    <img src="<%= artwork.escape('image') %>">
  </a>

  <figcaption>
    <h4>
      <a href="#artworks/<%= artwork.get('id') %>">
        <%= artwork.escape('title') %>
      </a>
    </h4>
    <h4>
      <a href="#artists/<%= artwork.get('artist_id') %>">
        <%= artwork.escape('artist_name') %>
      </a>
    </h4>
    <h4>
      Uploader: <a href="#users/<%= artwork.get('uploader_id') %>">
        <%= artwork.escape("uploader_moniker") %>
      </a>
    </h4>
  </figcaption>

</figure>
