<% require_login %>

<a href="<%= artist_url(@artwork.artist) %>"><%= @artwork.artist.name %></a>
<br>
<a href="<%= @artwork.image %>"><%= @artwork.title %></a>
<br>
<br>
<%= @artwork.art_type %><br>
Uploader: <%= @artwork.uploader.respond_to?('username') ? @artwork.uploader.username : 'Anonymous' %>

<% @stack = current_user.stacks.find_by(artwork_id: @artwork.id) %>
<% if @stack %>
  <%= render "unstack_button" %>
<% else %>
  <%= render "stack_button" %>
<% end %>