<% require_login %>

<h1><%= user_moniker(@user) %> is just the best user ever!</h1>


<% if @user.uploaded_works.size > 0 %>
<br>
<%= @user.email %>'s uploaded artworks:
<ul>
  <% @user.uploaded_works.each do |artwork| %>
  <li>
    <a href="<%= artist_url(artwork.artist) %>"><%= artwork.artist.name %></a>--
    <a href="<%= artwork.image_url %>"><%= artwork.title %></a>
  </li>
  <% end %>
</ul>
<% end %>

