<header class="group">
  <ul>
    <li><%= button_to "Explore", artworks_url, method: :get %></li>
    <% if logged_in? %>
    <li><%= button_to "Add Art", new_artwork_url, method: :get %></li>
    <li><%= button_to "Edit Profile", edit_user_user_profiles_url(current_user), method: :get %></li>
    <li><%= button_to "Log Out", session_url(current_user), method: :delete %></li>
    <% else %>
    <li><%= button_to "Log In", new_session_url, method: :get %></li>
    <li><%= button_to "Sign Up", new_user_url, method: :get %></li>
    <% end %>
  </ul>

  <div class="logo">
    <a href="<%= artworks_url %>"><img src="<%= asset_path 'logo-small.png' %>" alt="ArtStack"></a>
  </div>

</header>

<div id="welcome-user" class="group">
  Welcome, <%= user_moniker(current_user) %>!
</div>
