<header class="group">
  <ul>
    <li><a class="button" href="/#home">Home</a></li>
    <li><a class="button" href="/#explore">Explore</a></li>
    <li><a class="button" href="/#users/<%= current_user.id %>">My Stacks</a></li>
    <li><a class="button" href="<%= new_artwork_url %>">Add Art</a></li>
    <li><%= button_to "Log Out", session_url(current_user), method: :delete %></li>
  </ul>

  <div id="logo">
    <a href="#"><img src="<%= asset_path 'logo-small.png' %>" alt="ArtStack"></a>
  </div>

</header>

<div class="group">
  <div id="welcome-user">
  Welcome, <a href="<%= edit_user_user_profile_url(current_user) %>"><%= user_moniker(current_user) %></a>!
  </div>
</div>


<div id="layout-buttons">
  <h6>Layout:</h6>
  <a class="layout-button grid-layout-button" href="#explore-grid"></a>
  <a class="layout-button list-layout-button" href="#explore-list"></a>
</div>
