<!DOCTYPE html>
<html>
<head>
  <title>ArtStack - art online</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% require_login %>

  <% if false && ENV["RAILS_ENV"] == 'development' %>
  <%= render "layouts/devmode_info" %>
  <% end %>

  <%= render "layouts/header" %>

  <script>
  $(function () {
    window.currentUserId = <%= current_user ? current_user.id : nil %>
  });
  </script>

  <%= flash[:errors] %>

  <main>
    <%= yield %>
  </main>

  <%= render "layouts/footer" %>

</body>
</html>
