<!DOCTYPE html>
<html>
<head>
  <title>ArtStack - art online</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>

<% if false && ENV["RAILS_ENV"] == 'development' %>
  <%= render "layouts/devmode_info" %>
<% end %>

<%= render "layouts/header" %>

<%= flash[:errors] %>
<div id="backbone-content"></div>
<main>
  <%= yield %>
</main>

<%= render "layouts/footer" %>

</body>
</html>
