<!DOCTYPE html>
<html>
<head>
  <title>ArtStack - art online</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% require_login %>

  <% if false && ENV["RAILS_ENV"] == 'development' %>
  <%= render "layouts/devmode_info" %>
  <% end %>

  <%= render "layouts/header_backbone" %>

  <div id="flash-errors"><%= flash[:errors] %></div>
  <div id="flash-notice"><%= flash[:notice] %></div>

  <main>
    <%= yield %>
  </main>

</body>
</html>
